<div class="container">
  <div class="score-card">
    <div (click)="instructionWindow.style.display = 'block'" class="instruction-button">?</div>

    <h3>Best score: {{m.bestScore}}</h3>

    <h3>Score: {{m.score}}</h3>

    <h3>Time: {{m.time}}</h3>

    <h3>Level: {{m.level}}</h3>

    <div (click)="restart()" class="restart-button">
      RESTART
    </div>
  </div>
  <div class="game-board"></div>

  <div #instructionWindow class="instruction-window">
    <!-- Вміст вікна з інструкціями -->
  </div>

  <div *ngIf="m.isPaused && !m.gameOver" class="pause-overlay">
    <h1>PAUSED</h1>
    <p>Press Space to resume</p>
  </div>

  <div *ngIf="m.gameOver" class="game-over">
    <h1>Game Over</h1>
  </div>

  <div class="mobile-controls">
    <nav class="o-pad">
      <a (click)="dPadMovement('ArrowUp')" class="up"></a>
      <a (click)="dPadMovement('ArrowRight')" class="right"></a>
      <a (click)="dPadMovement('ArrowDown')" class="down"></a>
      <a (click)="dPadMovement('ArrowLeft')" class="left"></a>
    </nav>
  </div>


</div>

