<div class="container">
    <div class="score-card">
        <div class="instruction-button">?</div>

        <div class="instruction-window">
            <p>To control the snake, use the arrow keys or "W", "A", "S", "D" keys.</p>
            <p>To pause the game, press the "Space" key.</p>
            <p>To restart the game, press the "R" key.</p>
            <p>Starting from level 5, the boundaries of the field will open up.</p>
            <p>Starting from level 10, you can bite off a part of the snake, but your score will decrease.</p>
            <p>Obstacles will appear from level 10 onwards, so be attentive!</p>
        </div>

        <h3>Best score: {{m.bestScore}}</h3>

        <h3>Score: {{m.score}}</h3>

        <h3>Time: {{m.time}}</h3>

        <h3>Level: {{m.level}}</h3>

        <div (click)="restart()" class="restart-button">
            RESTART
        </div>


    </div>
    <div class="game-board"></div>


    <div *ngIf="m.isPaused && !m.gameOver" class="pause-overlay">
        <h1>PAUSED</h1>
        <p>Press Space to resume</p>
    </div>

    <div *ngIf="m.gameOver" class="game-over">
        <h1>Game Over</h1>
    </div>

    <div class="mobile-controls">
        <nav class="o-pad">
            <a (click)="dPadMovement('ArrowUp')" class="up"></a>
            <a (click)="dPadMovement('ArrowRight')" class="right"></a>
            <a (click)="dPadMovement('ArrowDown')" class="down"></a>
            <a (click)="dPadMovement('ArrowLeft')" class="left"></a>
        </nav>
    </div>


</div>

